* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #A68A56;
    --secondary-color: #2F4858;
    --background-color: #292929;
    --text-color: #f8f8f8;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto
}

.body-startscreen {
    background-image: url(images/background-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    /* For bigger screens
    height: auto;
    min-height: 100vh; */
    font-family: 'Crimson Text';
    color: var(--text-color);
    overflow: auto;
}

.logo-big {
    height: 80px;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.h1-start {
    font-size: 34px;
    font-weight: 100;
    margin-bottom: 0.1rem;
}

.h2-start {
    font-weight: 100;
    margin-bottom: 6rem;
}

.button-group-start {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button {
    color: var(--text-color);
    background-color: var(--primary-color);
    font-family: 'Crimson Text';
    font-size: 14px;
    border: none;
    border-radius: 1em;
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.2);
    width: 120px;
    height: 40px;
    padding: 8px;
}

.button:hover {
    cursor: pointer;
}

.button.eat-and-drink {
    background-color: var(--secondary-color);
}

.button.contact-us {
    background-color: var(--secondary-color);
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.contact-us-section {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.about-us-link {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 2rem;
}

.about-us-link:hover {
    cursor: pointer;
}

.our-vision {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.our-vision p {
    text-align: center;
    max-width: 350px;
    margin-top: -4rem;
}